
<div class="co">
 
 <form class="example-form">
  <h1>Welcome </h1>
 <h1>
  <marquee>Let's join</marquee>
</h1>
  <div id="container" style="background-image: url('../assets/helloo.jpeg');">
    
  <mat-form-field class="center" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput placeholder="name">
  </mat-form-field> <br><br>
  <mat-form-field class="center" appearance="fill">
    <mat-label>password</mat-label>
    <input matInput placeholder="number">
  </mat-form-field><br><br>
  <button mat-button color="center" routerLink="/main-layout">Login</button><br>
  <a routerLink="/registration-form">Don't have an account?</a>
  </div>

</form>
</div>



<div id="footer"> 
  <i><b>Education is the key of success</b></i>
</div>

