<!-- <div class="one" style="background-image: url('../assets/shine.jpg');">
    <form>
    <fieldset>Registration Form<br>
    <hr>
    <img src="../assets/hello.jpg" width="200" height="200"><br><br> -->
<!-- First name :<input type="text"><br><br>
    Lastname :<input type="text"><br><br>
    Age :<input type="number"><br><br>
    Address :<input type="text"><br><br>
    Phone number:<input type="number"><br><br>
    Email :<input type="text"> <br><br>
    Country:<input type="text"><br><br>
    year:<input type="number"><br><br>
    Courses: 
    <select><br>
    <option>ECA</option>
    <option>PCM</option>
    <option>PCB</option>
    <option>HGK</option>
    <option>HGL</option>
    <option>PGM</option>
    </select><br><br>
    Gender:<input type="radio"name="gender"> male <input type="radio" name="gender"> female <br><br>
    Guardian name:<input type="text"><br><br>
    Email Address:<input type="text"><br><br>
    Phone number:<input type="text"><br><br>
    
    <button type="submit" routerLink="/login">Register</button>
  
   
    </fieldset>

    </form>
    </div>
    
     -->
<div class="container">
  <form width="20px" height="220px" class="example-form">
    <h1>
      <marquee>Register Here</marquee>
    </h1>
<div class="boarder">

    <mat-form-field class="center" appearance="fill">
      <mat-label>Firstname</mat-label>
      <input matInput placeholder="name">
    </mat-form-field> 

    <mat-form-field class="center" appearance="fill">
      <mat-label>Lastname</mat-label>
      <input matInput placeholder="name">
    </mat-form-field><br>

    <mat-form-field class="center" appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Address">
    </mat-form-field>

    <mat-form-field class="center" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email">
    </mat-form-field> <br>


    <mat-form-field class="center" appearance="fill">
      <mat-label>Phone number</mat-label>
      <input matInput placeholder="number">
    </mat-form-field> 

    <mat-form-field class="center" appearance="fill">
      <mat-label>Country</mat-label>
      <input matInput placeholder="Country">
    </mat-form-field> <br>

    <mat-form-field class="center" appearance="fill">
      <mat-label>year</mat-label>
      <input matInput placeholder="year">      
    </mat-form-field> <br><br>
<!-- 
    <mat-form-field class="center" appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput placeholder="number">
    </mat-form-field><br> -->
    
    
    <select>
      <option>Science</option>
      <option>Arts</option>   
         <option>Bussiness</option>
    </select>
  
    <section class="example-section">
      <h4>Select your options:</h4>
    <mat-checkbox formControlName="Computer">Computer</mat-checkbox>
   <mat-checkbox formControlName="Arabic">Arabic</mat-checkbox>
    <mat-checkbox formControlName="France">France</mat-checkbox>
    </section>
    <button mat-button routerLink="/login">Register</button><br>
  </div>
  </form>
</div>